<main class="grid">
  {{#each data}}
    <article id={{id}}>
      <img src="{{avatar}}" alt="{{name}} Profile Picture">
      <div class="text">
        <h3>{{name}}</h3>
        <button onclick="myFunc('{{id}}', '{{createdAt}}')">Show</button>
      </div>
    </article>
    {{/each}}
</main>
